<!doctype html>
<html>
<head>
<title>My AWS Elastic Beanstalk Application: v1</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
<head>
<body>
<div class=page>
    <h1><img class=logo src="{{ url_for('static', filename='images/banner.jpg') }}"/>My AWS Elastic Beanstalk Application: v1</h1>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Log in</a>
    {% else %}
      Welcome, {{ session.user }}. <a href="{{ url_for('logout') }}">Log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
