files:
  "/opt/python/log/application.log" :
   mode: "000666"
   owner: wsgi
   group: root
   content: |
       # application log file
container_commands:
  01initdb:
    command: "python -c 'import initdb; initdb.init_db()'"
    leader_only: true
option_settings:
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
